<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.treeHole.mapper.AllTreeHolesMapper" >
  <resultMap id="BaseResultMap" type="org.treeHole.pojo.AllTreeHoles" >
    <id column="essayid" property="essayid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="releasetime" property="releasetime" jdbcType="TIMESTAMP" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    essayid, userId, releasetime, tag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.treeHole.pojo.AllTreeHolesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from allTreeHoles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from allTreeHoles
    where essayid = #{essayid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from allTreeHoles
    where essayid = #{essayid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.treeHole.pojo.AllTreeHolesExample" >
    delete from allTreeHoles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.treeHole.pojo.AllTreeHoles" >
    insert into allTreeHoles (essayid, userId, releasetime, 
      tag)
    values (#{essayid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{releasetime,jdbcType=TIMESTAMP}, 
      #{tag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.treeHole.pojo.AllTreeHoles" >
    insert into allTreeHoles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="essayid != null" >
        essayid,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="releasetime != null" >
        releasetime,
      </if>
      <if test="tag != null" >
        tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="essayid != null" >
        #{essayid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="releasetime != null" >
        #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.treeHole.pojo.AllTreeHolesExample" resultType="java.lang.Integer" >
    select count(*) from allTreeHoles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update allTreeHoles
    <set >
      <if test="record.essayid != null" >
        essayid = #{record.essayid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.releasetime != null" >
        releasetime = #{record.releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update allTreeHoles
    set essayid = #{record.essayid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      releasetime = #{record.releasetime,jdbcType=TIMESTAMP},
      tag = #{record.tag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.treeHole.pojo.AllTreeHoles" >
    update allTreeHoles
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="releasetime != null" >
        releasetime = #{releasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
    </set>
    where essayid = #{essayid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.treeHole.pojo.AllTreeHoles" >
    update allTreeHoles
    set userId = #{userid,jdbcType=INTEGER},
      releasetime = #{releasetime,jdbcType=TIMESTAMP},
      tag = #{tag,jdbcType=VARCHAR}
    where essayid = #{essayid,jdbcType=INTEGER}
  </update>
</mapper>