<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.treeHole.mapper.EssayInfoMapper" >
  <resultMap id="BaseResultMap" type="org.treeHole.pojo.EssayInfo" >
    <id column="essayid" property="essayid" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="authorId" property="authorid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    essayid, info, authorId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.treeHole.pojo.EssayInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from essayInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from essayInfo
    where essayid = #{essayid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from essayInfo
    where essayid = #{essayid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.treeHole.pojo.EssayInfoExample" >
    delete from essayInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.treeHole.pojo.EssayInfo" >
    insert into essayInfo (essayid, info, authorId
      )
    values (#{essayid,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, #{authorid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.treeHole.pojo.EssayInfo" >
    insert into essayInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="essayid != null" >
        essayid,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="authorid != null" >
        authorId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="essayid != null" >
        #{essayid,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null" >
        #{authorid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.treeHole.pojo.EssayInfoExample" resultType="java.lang.Integer" >
    select count(*) from essayInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update essayInfo
    <set >
      <if test="record.essayid != null" >
        essayid = #{record.essayid,jdbcType=INTEGER},
      </if>
      <if test="record.info != null" >
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.authorid != null" >
        authorId = #{record.authorid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update essayInfo
    set essayid = #{record.essayid,jdbcType=INTEGER},
      info = #{record.info,jdbcType=VARCHAR},
      authorId = #{record.authorid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.treeHole.pojo.EssayInfo" >
    update essayInfo
    <set >
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null" >
        authorId = #{authorid,jdbcType=INTEGER},
      </if>
    </set>
    where essayid = #{essayid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.treeHole.pojo.EssayInfo" >
    update essayInfo
    set info = #{info,jdbcType=VARCHAR},
      authorId = #{authorid,jdbcType=INTEGER}
    where essayid = #{essayid,jdbcType=INTEGER}
  </update>
</mapper>