body{
    width: 100%;
    height: 100%;
}
div.main{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
div.main_top{
    position: relative;
    width: 100%;
    height: auto;
}
div.main_top button a{
    display: inline;
}
div.block{
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
}
form{
    text-align: center;
}
form p{
    width: 100%;
    text-align: center;
}